.main-header {
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(233, 91, 127);
  color: white;
}

.main-header .md-nav-bar {
  background: rgb(233, 91, 127) !important;
}

.main-header h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-content {
  margin-left: 10px;
  margin-right: 10px;
}

.md-errors-spacer {
  display: none;
}

.no-h-margin h3, .no-h-margin h4 {
  margin: 0;
}

.border-bottom {
  border-bottom: 2px solid #eee;
}

.border-bottom:last-child {
  border-bottom-width: 0;
}
