<div>
  <h2>History</h2>

  <md-card>
    <md-card-content>
      <div flex layout="row" class="no-h-margin">
        <h3 flex="25">Owner Name</h3>
        <h3 flex="25">Pet Name</h3>
        <h3 flex="25">Last Check In</h3>
        <h3 flex="25">Last Check Out</h3>
      </div>

      <md-list>
        <md-list-item ng-repeat="pet in vm.historyList" class="border-bottom">
          <div class="md-list-item-text" layout="row" flex>
            <span flex="25">
              {{pet.owner_first_name}}
              {{pet.owner_last_name}}
            </span>
            <span flex="25">{{pet.pet_name}}</span>
            <span flex="25">{{pet.check_in_pretty_date}}</span>
            <span flex="25">{{pet.check_out_pretty_date}}</span>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>