<div>
  <h2>Owners</h2>

  <!-- Form -->
  <md-content layout="column" class="md-inline-form">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Add New Owner</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <form flex ng-submit="vm.addOwner(vm.newOwner)">
          <div layout-gt-sm="row">
            <!-- Inputs -->
            <md-input-container flex>
              <label>Owner's First Name</label>
              <input type="text" ng-model="vm.newOwner.first_name">
            </md-input-container>

            <md-input-container flex>
              <label>Owner's Last Name</label>
              <input type="text" ng-model="vm.newOwner.last_name">
            </md-input-container>
            
            <!-- Button -->
            <md-button type="submit" class="md-raised md-primary" style="height: fit-content; margin-top: 18px">
              Add Owner
            </md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </md-content>


  <!-- Table -->

    <!-- Body of Table -->
    <md-card>
      <md-card-content>
        <!-- Title -->
        <div flex layout="row" class="no-h-margin" style="margin-left: 10px; margin-right: 10px;">
          <h3 flex="25">Owner First Name</h3>
          <h3 flex="25">Owner Last Name</h3>
          <h3 flex="25">Number of Pets</h3>
          <h3 flex="25">Actions</h3>
        </div>
        <!-- Repeated  -->
        <md-list>
          <md-list-item ng-repeat="owner in vm.ownerList" class="border-bottom">
            <div class="md-list-item-text" layout="row" flex>
              <span flex="25" layout="row" layout-align="start center">{{owner.first_name}}</span>
              <span flex="25" layout="row" layout-align="start center">{{owner.last_name}}</span>
              <span flex="25" layout="row" layout-align="start center">{{owner.number_of_pets}}</span>
              <span flex="25" layout="row" layout-align="start center"><md-button ng-click="vm.deleteOwner(owner)" class="md-raised md-warn">Delete</md-button> </span>
              <md-button ng-click="vm.editOwner(owner)">Edit</md-button>

              <!-- Test -->
                
              <!-- Test -->

            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </table>
</div>