<div>
  <h2>Pets</h2>

  <table style="width: 80%">
    <tr>
      <th>Owner First Name</th>
      <th>Pet Name</th>
      <th>Breed</th>
      <th>Color</th>
      <th>Checked In?</th>
      <th>Actions</th>
    </tr>
    <!-- Body of the Table -->
    <tr ng-repeat="pet in vm.petList">
      <td>{{pet.owner_first_name}}</td> 
      <td>{{pet.pet_name}}</td>
      <td>{{pet.breed}}</td>
      <td>{{pet.color}}</td>
      <td> 
        <span ng-show="pet.is_checked_in">yes</span>
        <span ng-hide="pet.is_checked_in">no</span>
      </td> 
      <td>
        <button ng-click="vm.toggleCheckedIn(pet.pet_id)">in/out</button>
        <button ng-click="vm.deletePet(pet.pet_id)">Delete</button>
      </td>

    </tr>
  </table>
</div>